<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>  
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <div class="section-home-1">
        <!-- <div id="slider-1" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="item-inner-section background-color-slide-1">
                <div class="container">
                    <div class="row mx-3 mobile-center">
                        <div class="col-md-6 upper-gap mb-4">
                            <h1 class="slider-heading-1"></h1>
                            <div class="slider-heading-2"></div>
                            <a href="#" class="slider-btn"></a>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <img class="slider-image" src="../assets/img/hero-slider-1.png">
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
<div class="owl-carousel owl-theme" id="slider1">
            <div class="container">
            
                <div class="row align-items-center mobile-col-rev">
                    <div class="col-md-6">
                        <div class="left-header-txt">
                            <div class="red-heading sub-head-1 mb-2">START TO SUCCESS</div>
                            <div class="section3-head mb-3 main-head-1">Access To 5000 + Courses from 300 Instructors & Institutions</div>
                            <p class="sub-heading">Various versions have evolved over the years, sometime by accident,</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <img src="../assets/images/top-section-1.png" width="100%">
                        </div>
                    </div>

                </div>
            </div>
       
        </div>


    </div>
    <div class="section-2">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-3 mpc">
                    <div>
                    <div class="most"><span>Most </span><span class="red-heading">Popular Course</span></div>
                </div>
                    
                </div>
                <div class="col-md-9">
                    <div class="img-carousel">
                        <div id="slider-2" class="owl-carousel owl-theme">
                            <div class="item">
                                <div>
                                    <div class="card custom-card">
                                        <img src="../assets/images/carousel-img-1.png" alt="image">
                                        <div class="body">
                                            <p class="para1">Toolkit for Policymaker</p>
                                            <div class="d-flex justify-content-center">
                                                <div class="card-col-left">
                                                    <h4 class="numbers">12780</h4>
                                                    <p class="m-0"><small class="card-small-text">Currently Enrolled</small></p>
                                                </div>
                                                <div class="card-col-right">
                                                    <h4 class="numbers">180</h4>
                                                    <p class="m-0"><small class="card-small-text">Duration (in mins)</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="custom-hr">
                                        <a href="#" class="btn btn-success card-custom-btn">Join Courses</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div>
                                    <div class="card custom-card">
                                        <img src="../assets/images/carousel-img-2.png" alt="image">
                                        <div class="body">
                                            <p class="para1">Toolkit for Policymaker</p>
                                            <div class="d-flex justify-content-center">
                                                <div class="card-col-left">
                                                    <h4 class="numbers">12780</h4>
                                                    <p class="m-0"><small class="card-small-text">Currently Enrolled</small></p>
                                                </div>
                                                <div class="card-col-right">
                                                    <h4 class="numbers">180</h4>
                                                    <p class="m-0"><small class="card-small-text">Duration (in mins)</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="custom-hr">
                                        <a href="#" class="btn btn-success card-custom-btn">Join Courses</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div>
                                    <div class="card custom-card">
                                        <img src="../assets/images/carousel-img-3.png" alt="image">
                                        <div class="body">
                                            <p class="para1">Toolkit for Policymaker</p>
                                            <div class="d-flex justify-content-center">
                                                <div class="card-col-left">
                                                    <h4 class="numbers">12780</h4>
                                                    <p class="m-0"><small class="card-small-text">Currently Enrolled</small></p>
                                                </div>
                                                <div class="card-col-right">
                                                    <h4 class="numbers">180</h4>
                                                    <p class="m-0"><small class="card-small-text">Duration (in mins)</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="custom-hr">
                                        <a href="#" class="btn btn-success card-custom-btn">Join Courses</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div>
                                    <div class="card custom-card">
                                        <img src="../assets/images/carousel-img-1.png" alt="image">
                                        <div class="body">
                                            <p class="para1">Toolkit for Policymaker</p>
                                            <div class="d-flex justify-content-center">
                                                <div class="card-col-left">
                                                    <h4 class="numbers">12780</h4>
                                                    <p class="m-0"><small class="card-small-text">Currently Enrolled</small></p>
                                                </div>
                                                <div class="card-col-right">
                                                    <h4 class="numbers">180</h4>
                                                    <p class="m-0"><small class="card-small-text">Duration (in mins)</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="custom-hr">
                                        <a href="#" class="btn btn-success card-custom-btn">Join Courses</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div>
                                    <div class="card custom-card">
                                        <img src="../assets/images/carousel-img-1.png" alt="image">
                                        <div class="body">
                                            <p class="para1">Toolkit for Policymaker</p>
                                            <div class="d-flex justify-content-center">
                                                <div class="card-col-left">
                                                    <h4 class="numbers">12780</h4>
                                                    <p class="m-0"><small class="card-small-text">Currently Enrolled</small></p>
                                                </div>
                                                <div class="card-col-right">
                                                    <h4 class="numbers">180</h4>
                                                    <p class="m-0"><small class="card-small-text">Duration (in mins)</small></p>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="custom-hr">
                                        <a href="#" class="btn btn-success card-custom-btn">Join Courses</a>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <div class="section-3">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-7">
                    <div>
                        <div style="padding-bottom: 100px;">
                            <div class="section3-head mb-3"><span>Our </span><span class="red-heading">Achievement</span></div>
                            <p class="sub-heading">Various versions have evolved over the years, sometime by accident,</p>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="icon-col-outer d-flex align-items-center">
                                        <div class="left-icon-col">
                                            <div class="left-icon">
                                                <img src="../assets/images/instructor.png" width="60px">
                                            </div>
                                        </div>
                                        <div class="right-text-col">
                                            <div class="heaidng-text">300</div>
                                            <div class="smallbody-text">Instructor</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                     <div class="icon-col-outer d-flex align-items-center">
                                        <div class="left-icon-col">
                                            <div class="left-icon">
                                                <img src="../assets/images/video-icon.png" width="60px">
                                            </div>
                                        </div>
                                        <div class="right-text-col">
                                            <div class="heaidng-text">10,000+</div>
                                            <div class="smallbody-text">Video</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="icon-col-outer d-flex align-items-center">
                                        <div class="left-icon-col">
                                            <div class="left-icon">
                                                <img src="../assets/images/student.png" width="60px">
                                            </div>
                                        </div>
                                        <div class="right-text-col">
                                            <div class="heaidng-text">20,000+</div>
                                            <div class="smallbody-text">Students</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                     <div class="icon-col-outer d-flex align-items-center">
                                        <div class="left-icon-col">
                                            <div class="left-icon">
                                                <img src="../assets/images/users.png" width="60px">
                                            </div>
                                        </div>
                                        <div class="right-text-col">
                                            <div class="heaidng-text">1,00,000+</div>
                                            <div class="smallbody-text">User's</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="text-center">
                        <img src="../assets/images/achive-right.png" width="80%">
                    </div>
                </div>
            </div>
        </div>
    </div> 

<div class="section-4">
    <div class="section_4_back">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="">
                    <img src="../assets/images/last-section-left.png" width="100%">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="section_4_text">
                    <div class="section3-head mb-3"><span>Join </span><span class="red-heading">World’s Iargest Iearning</span><span> platform today</span></div>
                    <p class="sub-heading-4">Start learning by regitering for free</p>
                </div>
                <div class="mob-center">
                    <a href="#" class="btn btn-success custom-red-btn">Sign up for free</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/owl.carousel.min.js"></script>
    <script src="../assets/js/index.js"></script>
</body>
</html>